
<h3>Add New Product</h3>
<form method="post" action="/addproduct">
<div class="form-group">
    <label for="name">Product Name</label>
    <input type="text" name="name">
</div>
<div class="form-group">
    <label for="Price">Price</label>
    <input type="text" name="Price">
</div>
<div class="form-group">
    <label for="Location">Location</label>
    <input type="text" name="Location">
</div>

<div class="form-group">
   <button type="submit">Submit</button>
</div>

</form>