<h3>Edit Product details</h3>
{{#if msg}}
<div class="alert">{{msg}}</div>
{{/if}}

{{#each rows}}
<form method="post" action="/addproduct">
<div class="form-group">
    <label for="name">Product Name</label>
    <input type="text" name="name" value="{{this.NAME}}">
</div>
<div class="form-group">
    <label for="Price">Price</label>
    <input type="text" name="Price" value="{{this.price}}"> 
</div>
<div class="form-group">
    <label for="Location">Location</label>
    <input type="text" name="Location" value="{{this.location}}">
</div>

<div class="form-group">
   <button type="submit">Submit</button>
   <a href="/">View All</a>
</div>

</form>

{{/each}}