<h3>Product Management System</h3>

<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Product Name</td>
            <td>Price</td>
            <td>Location</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
