<h3>Product Management System</h3>

<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Product Name</td>
            <td>Price</td>
            <td>Location</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Zudio Tshirt</td>
            <td>250</td>
            <td>Coimbatore</td>
            <td><a href="" class="edit">Edit</a></td>
            <td><a href="" class="delete">Delete</a></td>
        </tr>
         <tr>
            <td>1</td>
            <td>Zudio Tshirt</td>
            <td>250</td>
            <td>Coimbatore</td>
            <td><a href="" class="edit">Edit</a></td>
            <td><a href="" class="delete">Delete</a></td>
        </tr>
         <tr>
            <td>1</td>
            <td>Zudio Tshirt</td>
            <td>250</td>
            <td>Coimbatore</td>
            <td><a href="" class="edit">Edit</a></td>
            <td><a href="" class="delete">Delete</a></td>
        </tr>
    </tbody>
</table>
<h3>Product Management System</h3>

<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Product Name</td>
            <td>Price</td>
            <td>Location</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Zudio Tshirt</td>
            <td>250</td>
            <td>Coimbatore</td>
            <td><a href="" class="edit">Edit</a></td>
            <td><a href="" class="delete">Delete</a></td>
        </tr>
    </tbody>
</table>